{% extends 'BaseTemplate.html' %}

{% block content %}

<section id="banner-row-floating">
  <section id="descripcion" class="d-flex justify-content-start">
    <div class="card descripcion">
      <div class="card-header">
        <h3>Avisos Legales</h3>
      </div>
      <div class="card-body text-left">
        <h4 style="color: darkgreen;">Avisos legales de DETECTA!</h4>
        <ol>
          <li>Bienvenido al sitio web de DETECTA. Al acceder y utilizar este sitio web, usted acepta los términos y condiciones establecidos en los avisos legales a continuación. Si no está de acuerdo con estos términos y condiciones, no utilice este sitio web.</li>

          <li>Responsabilidad: DETECTA se esfuerza por garantizar que la información en este sitio web sea precisa y actualizada. Sin embargo, no garantizamos la exactitud, integridad o actualidad de la información. </li>

          <li>Enlaces a sitios web de terceros: Este sitio web puede contener enlaces a sitios web de terceros que no son propiedad ni están controlados por DETECTA. DETECTA no se hace responsable de la exactitud, integridad o actualidad del contenido de estos sitios web de terceros.</li>

          <li>politica de privacidad: DETECTA se compromete a proteger su privacidad. Consulte nuestra política de privacidad para obtener más información sobre cómo recopilamos, utilizamos y protegemos su información personal.</li>

          <li>Cambios a los avisos legales: DETECTA puede modificar estos avisos legales en cualquier momento a nuestra discreción. Si realizamos cambios significativos en los avisos legales, publicaremos una versión actualizada en nuestro sitio web.</li>

        </ol>
        <p>Si tiene alguna pregunta sobre estos Avisos Legales, por favor contáctenos a través de nuestro sitio web o enviándonos un correo electrónico a info@detecta.com. También puede comunicarse con nosotros por teléfono al 85323707.</p>
        <i style="font-size: 40px" class="fas fa-comments"></i>
      </div>
    </div>
  </section>
</section>
{% endblock %}