{% extends 'base3.html' %}

{% block content %}
<section id="information2" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4" style="background-color: #e0dbdb; border-bottom-left-radius: 15px; border-top-left-radius: 15px;">
        <img src="/static/img/estudiar4.jpg" alt="imagen de promoción" style="width: 100%; height: 300px; border-color: black; border-bottom-left-radius: 15px; border-top-left-radius: 15px;">
      </div>
      <div class="col-6" style="padding: 60px; background-color: #e0dbdb; border-top-right-radius: 15px; border-bottom-right-radius: 15px;">
        <h3 style=" font-weight: bold; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 20px;">Mejoramiento de procesos</h3>
        <p style="text-align: justify; font-size: 18px; width: 100%;">
            Nuestra misión es dotar de nuevas capacidades a los participantes y brindar la asistencia técnica
            especializada necesaria para lograr el desarrollo de emprendimientos e iniciativas de innovación,
            en proyectos agrícolas y pecuarios.
        </p>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-1"></div>
        <div class="col-10" style="padding: 60px; background-color: rgb(50, 133, 97); border-radius: 15px;">
          <p style="text-align: justify; font-size: 18px; width: 100%; color: #fff;">
            Contamos con un grupo de profesionales con amplia experiencia en formación
            técnica y profesional. Con experiencia en el desarrollo de procesos productivos
            en la producción agrícola y ganadera. 
          </p>
        </div>
        <div class="col-1"></div>
      </div>
</section>
{% endblock %}