{% extends 'base3.html' %}

{% block content %}
<section id="descripcion">
    <div class="card descripcion">
        <div class="card-header">
            <strong><h2>Consultas</h2></strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                   
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}