{% extends 'base.html' %}

{% block content %}

<section id="information2" style="margin-bottom: 40px; margin-top: 80px;">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="/static/img/Promocion1.jpeg" alt="" style="width: 100%;">
      </div>
      <div class="col-6 text-center">
        <h3 style="padding-top: 80px;"><strong>¿Qué es la academia DETECTA?</strong></h3>
        <p style="text-align: justify; padding-top: 30px; font-size: 18px; width: 100%;">
          La academia DETECTA es la plataforma digital creada para facilitar el desarrollo
          de servicios de formación educativa dirigida a promover el desarrollo de iniciativas
          de emprendimiento, e innovación en el desarrollo de proyectos agrícolas y pecuarios;
          permitiendo el incremento de la productividad y el desarrollo sostenible.

          Y en ella se pone a la disposición de los usuarios los servicios de asesoría para el
          desarrollo de proyectos de una manera directa y accesible.
        </p>
      </div>
      <div class="col-1"></div>
    </div>
</section>

<section id="galeriaindex" style="margin-bottom: 40px; margin-top: 80px;">
    <div class="row galeria">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="/static/img/Carrucel1.jpeg" alt="Image 1" style="height: 80%; width: 100%;">
        </div>
        <div class="col-2">
            <img src="/static/img/Carrucel2.jpeg" alt="Image 1" style="height: 80%; width: 100%;">
        </div>
        <div class="col-2">
            <img src="/static/img/Carrucel3.jpeg" alt="Image 1" style="height: 80%;width: 100%; ">
        </div>
        <div class="col-2">
            <img src="/static/img/Carrucel5.jpeg" alt="Image 1" style="height: 80%; width: 100%;">
        </div>
        <div class="col-2">
            <img src="/static/img/Carrucel6.jpeg" alt="Image 1" style="height: 80%; width: 100%; ">
        </div>
        <div class="col-1"></div>
    </div>
</section>

{% endblock %}