{% extends 'base.html' %}
  



{% block content %}

<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-8 text-center offset-md-2">
                <h2 class="section-title">Historia</h2>
                <div class="history-card">
                    <i style="font-size: 60px" class="fas fa-book-open history-icon" id="history-icon"></i>
                    <p class="history-info" id="history-info">Nuestra academia se fundó hace 10 años con el objetivo de
                        brindar la mejor formación en tecnologías de la información a nuestros estudiantes. Desde
                        entonces, hemos formado a cientos de profesionales que han tenido éxito en sus carreras.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 text-center offset-md-2">
                <h2 class="section-title">Experiencia</h2>
                <div class="history-card">
                    <i style="font-size: 60px" class="fas fa-briefcase history-icon" id="experience-icon"></i>
                    <p class="history-info" id="experience-info">Nuestros profesores tienen años de experiencia en el
                        campo de la tecnología de la información, brindándoles a nuestros estudiantes la oportunidad de
                        aprender de expertos en la materia.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 text-center offset-md-2">
                <h2 class="section-title">Logros</h2>
                <div class="history-card">
                    <i style="font-size: 60px" class="fas fa-trophy history-icon" id="achievements-icon"></i>
                    <p class="history-info" id="achievements-info">Hemos logrado varios reconocimientos a lo largo de
                        los años, incluyendo premios por nuestro enfoque en la excelencia académica y nuestro compromiso
                        con el éxito de nuestros estudiantes.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="colaborators">
    <div class="row">
        <div class="col-md-4 col-bottom-margin">
            <div class="colaborator-container">
                <div class="colaborator-image-container">
                    <img src="/Academia/static/img/hombre2(2).jpg" alt="Foto del colaborador">
                </div>
                <div class="colaborator-info-container">
                    <h3 class="colaborator-name">Nombre del colaborador</h3>
                    <p class="colaborator-profession">Profesión</p>
                    <p class="colaborator-description">Descripción</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-bottom-margin">
            <div class="colaborator-container">
                <div class="colaborator-image-container">
                    <img src="/Academia/static/img/hombre2(2).jpg" alt="Foto del colaborador">
                </div>
                <div class="colaborator-info-container">
                    <h3 class="colaborator-name">Nombre del colaborador</h3>
                    <p class="colaborator-profession">Profesión</p>
                    <p class="colaborator-description">Descripción</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-bottom-margin">
            <div class="colaborator-container">
                <div class="colaborator-image-container">
                    <img src="/Academia/static/img/hombre2(2).jpg" alt="Foto del colaborador">
                </div>
                <div class="colaborator-info-container">
                    <h3 class="colaborator-name">Nombre del colaborador</h3>
                    <p class="colaborator-profession">Profesión</p>
                    <p class="colaborator-description">Descripción</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-bottom-margin">
            <div class="colaborator-container">
                <div class="colaborator-image-container">
                    <img src="/Academia/static/img/hombre2(2).jpg" alt="Foto del colaborador">
                </div>
                <div class="colaborator-info-container">
                    <h3 class="colaborator-name">Nombre del colaborador</h3>
                    <p class="colaborator-profession">Profesión</p>
                    <p class="colaborator-description">Descripción</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-bottom-margin">
            <div class="colaborator-container">
                <div class="colaborator-image-container">
                    <img src="/Academia/static/img/hombre2(2).jpg" alt="Foto del colaborador">
                </div>
                <div class="colaborator-info-container">
                    <h3 class="colaborator-name">Nombre del colaborador</h3>
                    <p class="colaborator-profession">Profesión</p>
                    <p class="colaborator-description">Descripción</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}