<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista de Cursos</title>
</head>
<body>

    <div class="table-container">
        <h1>Lista de Cursos</h1>
        <table style="text-align: justify">
            <thead>
                <tr style="text-align: justify">
                    <th>Código Curso</th>
                    <th>Nombre Curso</th>
                    <th>Especialidad</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr style="text-align: justify">
                    <td>{{ curso.codigo_curso }}</td>
                    <td>{{ curso.nombre_curso }}</td>
                    <td>{{ curso.get_codigo_especialidad_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
