{% extends 'base3.html' %}

{% block content %}
<section id="descripcion">
    <div class="card descripcion">
        <div class="card-header">
            <h2>Política de Privacidad</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <strong><h3>Leer atentamente</h3></strong>
                    <p>Agradecemos tu interés en nuestra Política de Privacidad. En ACADEMIA DETECTA,
                        nos tomamos muy en serio la protección de tus datos personales. Esta Política de
                        Privacidad explica cómo recopilamos, utilizamos y protegemos la información que nos
                        proporcionas al utilizar nuestro sitio web. Al acceder y utilizar nuestro sitio web,
                        aceptas las prácticas descritas en esta Política de Privacidad.
                    </p>
                    <p><strong>1 - Información que recopilamos</strong></p>
                    <p><strong>1.1.</strong>  Recopilamos información personal que nos proporcionas voluntariamente al
                        registrarte en nuestro sitio web, completar formularios, participar en cursos o interactuar con
                        nosotros de alguna manera. La información personal puede incluir tu nombre, dirección de correo
                        electrónico, número de teléfono, dirección postal, información de pago y cualquier otra información
                        que elijas proporcionarnos.
                    </p>
                    <p><strong>1.2.</strong> También recopilamos automáticamente cierta información cuando visitas nuestro
                        sitio web, como tu dirección IP, tipo de navegador, proveedor de servicios de Internet, páginas de
                        referencia/salida, archivos visualizados en nuestro sitio (como imágenes y videos), y fecha/hora de
                        acceso. Esta información se recopila de forma anónima y se utiliza para analizar tendencias,
                        administrar el sitio web, rastrear el movimiento del usuario en el sitio y recopilar información
                        demográfica.
                    </p>  
                    <p><strong>2 - Uso de la información recopilada</strong></p>
                    <p><strong>2.1.</strong> Utilizamos la información recopilada para brindarte nuestros servicios y mejorar
                        tu experiencia en nuestro sitio web. Esto puede incluir la entrega de cursos, el procesamiento de pagos,
                        el envío de comunicaciones relacionadas con el servicio, la personalización de contenido y la respuesta
                        a consultas o solicitudes.
                    </p>
                    <p><strong>2.2.</strong> Podemos utilizar tu información de contacto para enviarte información promocional
                        sobre nuestros cursos u otros productos y servicios que puedan ser de tu interés. Sin embargo, siempre
                        tendrás la opción de optar por no recibir este tipo de comunicaciones.
                    </p>    
                    <p><strong>2.3.</strong> No compartimos, vendemos ni alquilamos tu información personal con terceros sin tu
                        consentimiento, excepto cuando sea necesario para cumplir con las obligaciones legales, proteger nuestros
                        derechos, garantizar la seguridad del sitio web o en caso de fusión o adquisición.
                    </p>

                    <p><strong>3 - Cookies y tecnologías similares</strong></p>
                    <p><strong>3.1.</strong> Utilizamos cookies y tecnologías similares para recopilar información y mejorar la
                        funcionalidad de nuestro sitio web. Las cookies son pequeños archivos de texto que se almacenan en tu
                        dispositivo cuando visitas nuestro sitio. Estas cookies nos permiten recordar tus preferencias, analizar
                        el tráfico del sitio web y personalizar tu experiencia.
                    </p>
                    <p><strong>3.2.</strong>  Puedes configurar tu navegador para rechazar todas las cookies o para que te avise
                        cuando se envíen cookies. Sin embargo, ten en cuenta que esto puede afectar la funcionalidad de nuestro
                        sitio web y limitar tu capacidad de utilizar ciertas características.
                    </p>

                    <p><strong>4 - Tus derechos y opciones</strong></p>
                    <p><strong>4.1.</strong> Tienes el derecho de acceder, corregir, actualizar o eliminar la información personal
                        que nos has proporcionado. Si deseas ejercer alguno de estos derechos, por favor contáctanos utilizando los
                        datos de contacto que se proporcionan al final de esta Política de Privacidad.
                    </p>

                    <p><strong>5 - Cambios a esta Política de Privacidad</strong></p>
                    <p><strong>5.1.</strong>  Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en
                        cualquier momento. Te recomendamos revisar periódicamente esta página para estar informado sobre cualquier
                        cambio. El uso continuado de nuestro sitio web después de la publicación de cambios constituirá tu
                        aceptación de dichos cambios.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}