{% extends 'BaseTemplate.html' %}

{% block content %}

<section id="banner-row-floating">
    <section id="descripcion" class="d-flex justify-content-start">
      <div class="card descripcion">
        <div class="card-header">
          <h3>Politicas de Privacidad</h3>
        </div>
        <div class="card-body text-left">
          <h4 style="color: darkgreen;">Política de privacidad de DETECTA.</h4>
          <ol>
            <li>
              Recopilacion de informacion personal: Recopilamos información personal cuando usted se comunica con nosotros para solicitar servicios de asesoría y capacitación o cuando se registra en nuestro sitio web para recibir nuestro boletín informativo. 
            </li>

            <li>Uso de informacion personal: Utilizamos su información personal para proporcionarle los servicios de asesoría y capacitación que ha solicitado. También podemos utilizar su información personal para enviarle nuestro boletín informativo y otra información relevante sobre nuestros servicios. </li>
        
            <li>Divulgacion de informacion personal: Podemos divulgar su información personal si creemos de buena fe que dicha divulgación es necesaria para cumplir con una obligación legal o para proteger nuestros derechos, propiedad o seguridad.</li>
            
            <li>proteccion de informacion personal: Tomamos medidas razonables para proteger su información personal contra el acceso no autorizado, la divulgación, modificación o destrucción.</li>

          </ol>
          <p> Si tiene preguntas o comentarios sobre nuestra política de privacidad, comuníquese con nosotros a través de nuestro sitio web o envíenos un correo electrónico a info@detecta.com, y por teléfono al 85323707.</p>
          <i style="font-size: 40px" class="fas fa-headset"></i>
        </div>
      </div>
    </section>
  </section>
{% endblock %}