{% extends 'base3.html' %}

{% block content %}
<section id="descripcion">
    <div class="card descripcion">
        <div class="card-header">
            <strong><h2>Términos y Condiciones</h2></strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Leer atentamente</h3>
                    <p>Bienvenido a la ACADEMIA DETECTA, un sitio web que ofrece cursos en el ámbito agropecuario.
                        Antes de acceder y utilizar nuestros servicios, te invitamos a leer detenidamente los
                        siguientes Términos y Condiciones. Al acceder y utilizar nuestro sitio web, aceptas
                        cumplir con estos términos y condiciones en su totalidad.
                    </p>
                    <p><strong>1 - Uso del Sitio Web</strong></p>
                    <p><strong>1.1.</strong> El contenido del sitio web tiene fines educativos y de información
                        general relacionados con el ámbito agropecuario. No garantizamos la exactitud, integridad
                        o actualidad de la información proporcionada. El uso de cualquier información o material
                        del sitio web es bajo tu propio riesgo.
                    </p>
                    <p><strong>1.2.</strong> Te comprometes a utilizar el sitio web de manera responsable y respetuosa,
                        cumpliendo con todas las leyes y regulaciones aplicables. No puedes utilizar el sitio web para
                        actividades ilegales, difamatorias, fraudulentas o que violen los derechos de terceros.
                    </p>    
                    <p><strong>1.3.</strong> Nos reservamos el derecho de modificar, suspender o interrumpir el sitio
                        web en cualquier momento sin previo aviso. No seremos responsables por cualquier interrupción
                        o indisponibilidad del sitio web.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}