{% extends 'base2.html' %}

{% block content %}
<section id="banner-row-floating">
    <video src="/Academia/static/img/FondoServicios.mp4" autoplay loop muted></video>
    <header>
      <div id="logo">
        <a href="http://127.0.0.1:8000/admin/login/">
          <img src="/Academia/static/img/detecta.png" alt="Logo de la empresa">
        </a>
      </div>
      <div id="nav">
        <nav>
          <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'services' %}">Servicios</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
</section>
  


<section id="descripcion">
    <div class="card descripcion">
        <div class="card-header">
            <h3>Servicios</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h4>Mejoramiento de procesos</h4>
                    <p>Ofrecemos soluciones efectivas para optimizar sus procesos internos y aumentar su eficiencia empresarial. Nuestro equipo de expertos utiliza las últimas tecnologías y técnicas para garantizar el éxito de sus proyectos.</p><i style="font-size: 40px" class="fas fa-cogs"></i>
                </div>
                <div class="col-md-5">
                    <h4>Asistencia profesional</h4>
                    <p>Nuestro equipo de profesionales altamente capacitados está disponible para brindarle una asistencia técnica integral. Ya sea que necesite ayuda con un problema técnico o simplemente consejos sobre cómo mejorar su negocio, estamos aquí para ayudarlo.</p> <i style="font-size: 40px" class="fas fa-question-circle"></i>
                </div>
                <div class="col-md-1"><i style="font-size: 40px" class="fas fa-headset"></i></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h4>Consultas</h4>
                    <p>Ofrecemos consultas personalizadas para ayudarle a tomar decisiones informadas sobre su negocio. Nuestro equipo de expertos analizará su situación actual y le brindará recomendaciones prácticas para lograr sus objetivos empresariales.</p><i style="font-size: 40px" class="fas fa-comments"></i> 
                </div>
                <div class="col-md-5">
                    <h4>Asesoría</h4>
                    <p>Nuestro equipo de asesores está disponible para brindarle asesoramiento experto sobre cualquier tema relacionado con su negocio. Ya sea que necesite ayuda para establecer su estrategia empresarial, mejorar sus procesos internos o tomar decisiones importantes, estamos aquí para ayudarlo.</p><i style="font-size: 40px" class="fas fa-info-circle"></i>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>
<section id="galeria">
    <div class="galeria">
        <div class="row">
            <div class="col-4">
                <img src="/Academia/static/img/portada2.jpg" alt="Image 1">
            </div>
            <div class="col-4">
                <img src="/Academia/static/img/estudiar2.jpg" alt="Image 2">
            </div>
            <div class="col-4">
                <img src="/Academia/static/img/estudiar3.jpg" alt="Image 3">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="/Academia/static/img/hombre2(2).jpg" alt="Image 4">
            </div>
            <div class="col-4">
                <img src="/Academia/static/img/Estudiantes.jpg" alt="Image 5">
            </div>
            <div class="col-4">
                <img src="/Academia/static/img/trabajando1.jpg" alt="Image 6">
            </div>
        </div>
    </div>
</section>
{% endblock %}