{% extends 'baseTemplate.html' %}

{% block content %}

<section id="descripcion">
    <div class="card descripcion">
        <div class="card-header">
            <h3>Terminos y Condiciones</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h4>QUE JUAN SE LA COMA.</p><i style="font-size: 40px" class="fas fa-cogs"></i>
                </div>
                <div class="col-md-1"><i style="font-size: 40px" class="fas fa-headset"></i></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
